{% extends "core/base.html" %}
{% block title %}Products | E-Shop{% endblock %}

{% block content %}
<h2>Our Products</h2>

<div class="row mb-3">
    <div class="col-md-3">
        <h5>Categories</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'products:product_list' %}">All</a>
            </li>
            {% for category in categories %}
            <li class="list-group-item {% if current_category and current_category.id == category.id %}active{% endif %}">
                <a href="{% url 'products:product_by_category' category.slug %}" class="text-decoration-none {% if current_category and current_category.id == category.id %}text-white{% endif %}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-9">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/no-image.png' %}" class="card-img-top" alt="No image">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p>${{ product.price }}</p>
                        <a href="{% url 'products:product_detail' product.slug %}" class="btn btn-primary btn-sm">View</a>
                        <a href="{% url 'cart:add_to_cart' product.id %}" class="btn btn-success btn-sm">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No products available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
